<link rel="stylesheet" href="../styles/header.css">
<script src="../scripts/index.js"></script>

<div class="menu-bar">
    <a href="../index.html"><img class="logo-big" src="./img/logo.png"></a>
    <div class="menu desktop">
        <a class="hover-underline-animation" href="../index.html">Start</a>
        <a class="hover-underline-animation" href="../rezept4.html">Rezept des Tages</a>
        <a class="hover-underline-animation" href="../kontakt.html">Kontakt</a>
        <a class="hover-underline-animation" href="../impressum.html">Impressum</a>
    </div>
    <img id="menuOpen" class="nav-open" onclick="toggleMenu()" src="../img/icons8-menü.svg" alt="Menü">
    <img id="menuClose" class="nav-open d-none" onclick="toggleMenu()" src="../img/icons8-löschen.svg" alt="Menü schließen">
</div>
<div>
    <div id="mobileNav" class="menu mobile-nav d-none">
        <a class="hover-underline-animation" href="../index.html">Start</a>
        <a class="hover-underline-animation" href="../rezept4.html">Rezept des Tages</a>
        <a class="hover-underline-animation" href="../kontakt.html">Kontakt</a>
        <a class="hover-underline-animation" href="../impressum.html">Impressum</a>
    </div>
</div>